.carrossel {
  padding: 1rem 0 0.5rem 0;
}

.carrossel__titulo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--laranja);
  text-align: center;
  text-transform: uppercase;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 0.5rem 0;
}

@media screen and (min-width: 1024px) {
  .carrossel__titulo {
    font-size: 1.8rem;
  }

  .swiper-pagination {
    margin: 2em 0 3em 0;
  }

  .swiper {
    width: 60%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 50%;
  }

}

@media screen and (min-width: 1728px) {
  .carrossel__container {
    display: flex;
    align-items: center;
    margin: 0 20vw 3rem 20vw;
  }

  .swiper {
    width: 50%;
  }

  .swiper-pagination {
    margin: 1em 0;
  }

}

